/**
 * colors
 */
$clWhite ?= #ffffff
$clBlack ?= #000000
$clPrimary ?= #1a3aff
$clSecondary ?= #eb008b
$clDanger ?= #f42828
$clSuccess ?= #5fca16
$clWarning ?= #ff9600
$clInfo ?= #1de9cf
$clPurple ?= #a324ea
$clBorder ?= #ddd
$clYellow ?= #FFFF00
$clGray ?= #dddddd
$clBg ?= $clWhite
$clText ?= $clBlack