/**
 * colors
 */
$black ?= #000
$white ?= #fff
$magenta ?= #eb008b
$blue ?= #0072FF
$cyan ?= #00d4f0
$green ?= #00ff98
$yellow ?= #ffdd57
$orange ?= #ffa557
$red ?= #ff3d3d
$gray ?= #a1a1a1
$purple ?= #a324ea
$dark ?= #323c47


/**
 * theme colors
 */
$primary ?= $blue
$secondary ?= $gray
$danger ?= $red
$success ?= $green
$warning ?= $orange
$info ?= $cyan
$link ?= $blue
$link-hover ?= $black
