/**
 * colors
 */
$color ?= {
  black: #000,
  white: #fff,
  magenta: #eb008b,
  blue: #1a3aff,
  cyan: #1de9cf,
  green: #5fca16,
  yellow: #ff9600,
  red: #f42828,
  gray: #cccccc,
  purple: #a324ea
}

/**
 * theme colors
 */
$clPrimary ?= $color.magenta
$clSecondary ?= $color.blue
$clDanger ?= $color.red
$clSuccess ?= $color.green
$clWarning ?= $color.yellow
$clInfo ?= $color.cyan
$clBorder ?= $color.black
$clBg ?= $color.white
$clText ?= $color.black
$clWhite ?= $color.white
$clBlack ?= $color.black
$clLink ?= $color.black
$clLinkHover ?= $color.magenta
$clPurple ?= $color.purple
$clGray ?= $color.gray
