if ($cssVar)
  :root
    --margin: $margin
    --padding: $padding
    --paddingPx: $paddingPx
    --modalPadding: $modalPadding
    --borderRadius: $borderRadius
    --fontTiny: $fontTiny
    --fontSmall: $fontSmall
    --font: $font
    --fontLarge: $fontLarge
    --fontMassive: $fontMassive
    --lineheight: $lineheight


    // colors
    --blue: $blue
    --lightBlue: $lightBlue
    --green: $green
    --lightGreen: $lightGreen
    --red: $red
    --lightRed: $lightRed
    --magenta: $magenta
    --orange: $orange
    --purple: $purple
    --yellow: $yellow
    --turquoise: $turquoise
    --white: $white
    --gray: $gray
    --lightGray: $lightGray
    --black: $black
    --shadow: $shadow
    --mainColor: var(--black)

  $margin = var(--margin)
  $padding = var(--padding)
  $paddingPx = var(--paddingPx)
  $modalPadding = var(--modalPadding)
  $borderRadius = var(--borderRadius)
  $fontTiny = var(--fontTiny)
  $fontSmall = var(--fontSmall)
  $font = var(--font)
  $fontLarge = var(--fontLarge)
  $fontMassive = var(--fontMassive)
  $lineheight = var(--lineheight)


  $blue = var(--blue)
  $lightBlue = var(--lightBlue)
  $green = var(--green)
  $lightGreen = var(--lightGreen)
  $red = var(--red)
  $lightRed = var(--lightRed)
  $magenta = var(--magenta)
  $orange = var(--orange)
  $purple = var(--purple)
  $yellow = var(--yellow)
  $turquoise = var(--turquoise)
  $white = var(--white)
  $lightGray = var(--lightGray)
  $gray = var(--gray)
  $black = var(--black)
  $shadow = var(--shadow)
  $primary = var(--mainColor)
