/**
 * set the start and end direction based on
 * $dir variable
 */
setDirection(state)
  if ($dir == 'ltr')
    return state == 'start' ? left : right

  return state == 'start' ? right : left

multiple(value, times)
  if ($cssVar == true)
    return 'calc(%s * %s)' % (value times)

  return value * times

_calc()
  if ($cssVar == true)
    return arguments[1]

  return convert(arguments)

unitRes(min, max, minScreen = 768, maxScreen = 1920)
  'calc( %spx + %s * (100vw - %spx) / %s )' % (min (max - min) minScreen (maxScreen - minScreen))