/**
 * set the start and end direction based on
 * $dir variables
 */
setDirection(state)
  if ($dir == 'ltr')
    return state == 'start' ? left : right

  return state == 'start' ? right : left

/**
 * use css calc fuction, if the cssVar is enabled
 * when multiplication
 */
multiple(value, times)
  if ($cssVar == true)
    return 'calc(%s * %s)' % (value times)

  return value * times


/**
 * generate min and max values base on
 * the current sacle ratio
 */
getMinMax(value)
  $scaleRatio = 0.875
  return {
    min: value * $scaleRatio,
    max: value
  }

/**
 * return the reponsive equation
 */
unitRes(min, max, minScreen = 768, maxScreen = 1360)
  'calc( %spx + %s * (100vw - %spx) / %s )' % (min (max - min) minScreen (maxScreen - minScreen))


/*
 * check if the color name is a light color
 */
isLight(color)
  if (color == 'white' || color == 'light' || color == 'gray' || color == 'secondary')
    return true

  return false