/**
 * media queries mixins
 */
responsive(breakpoint)
  @media screen and (min-width: breakpoint)
    {block}

ultrawide()
  @media screen and (min-width: $ultrawide)
    {block}

widescreen()
  @media screen and (min-width: $widescreen)
    {block}

desktop()
  @media screen and (min-width: $desktop)
    {block}

tablet()
  @media screen and (min-width: $tablet)
    {block}

mobile()
  @media screen and (max-width: (($tablet - 1)))
    {block}


_unit-min-max(unit, size)
  &
    {unit}: unitRes(size.min, size.max)
    +mobile()
      {unit}: unit(size.min, px)
    +widescreen()
      {unit}: unit(size.max, px)

/**
 * modifiers mixins
 */
$tiny
  _unit-min-max: font-size $size-tiny
$small
  _unit-min-max: font-size $size-small
$normal
  _unit-min-max: font-size $size-normal
$large
  _unit-min-max: font-size $size-large
$massive
  _unit-min-max: font-size $size-massive

generateSizes()
  &.is-tiny
    @extends $tiny
  &.is-small
    @extends $small
  &,
  &.is-normal
    @extends $normal
  &.is-large
    @extends $large
  &.is-massive
    @extends $massive