/**
 * media queries mixins
 */
responsive(breakpoint)
  @media screen and (min-width: breakpoint)
    {block}

ultrawide()
  @media screen and (min-width: $ultrawide)
    {block}

widescreen()
  @media screen and (min-width: $widescreen)
    {block}

desktop()
  @media screen and (min-width: $desktop)
    {block}

tablet()
  @media screen and (min-width: $tablet)
    {block}

mobile()
  @media screen and (max-width: (($tablet - 1)))
    {block}


/**
 * styling mixins
 */
_icon-color(color)
  fill: color
  stroke-width: 0

_button-color(accent, text)
  border-color: accent
  background-color:  accent
  color: text
  _icon-color:  text

  &.is-inverse
    background-color: transparent
    color: accent
    _icon-color: accent

  &:hover
  &:active
  &.is-active
    border-color: darken(accent, 15%)
    background-color: darken(accent, 15%)
    color: text
    _icon-color: text

  &:focus
    box-shadow: 0 0 0 $outline alpha(accent, $outline-opacity)

  &[disabled]
    border-color: accent
    background-color:  accent
    color: text
    _icon-color:  text

_input-color(accent)
  border-color: accent
  &:focus
    border-color: darken(accent, 15%)
    box-shadow: 0 0 0 $outline alpha(accent, $outline-opacity)

_modal-color(accent, textColor)
  background-color: lighten(accent, 90%)
  color: textColor
  _icon-color: textColor
  &.is-outline
    border-color: accent
    color: accent
    _icon-color: accent
  &:focus
    border-color: darken(accent, 15%)
    box-shadow: 0 0 0 $outline alpha(accent, $outline-opacity)

_label-color(accent, textColor)
  background-color: accent
  color: textColor
  _icon-color: textColor

_select-color(accent)
  border-color: accent
  background-image: linear-gradient(45deg, transparent 50%, accent 50%), linear-gradient(135deg, accent 50%, transparent 50%)
  color: accent
  .select-label,
  .select-item.is-selected,
  .select-item:not(.is-group):hover,
  .select-childItem.is-selected,
  .select-childItem:hover
    background-color: accent

_textarea-color(accent)
  border-color: accent
  &:focus
    border-color: accent
    box-shadow: 0 0 0 $outline alpha(accent, $outline-opacity)

_unit-min-max(unit, size)
  &
    {unit}: unitRes(size.min, size.max)
    +mobile()
      {unit}: unit(size.min, px)
    +widescreen()
      {unit}: unit(size.max, px)

/**
 * modifiers mixins
 */
$tiny
  _unit-min-max: font-size $size-tiny
$small
  _unit-min-max: font-size $size-small
$normal
  _unit-min-max: font-size $size-normal
$large
  _unit-min-max: font-size $size-large
$massive
  _unit-min-max: font-size $size-massive

generateSizes()
  &.is-tiny
    @extends $tiny
  &.is-small
    @extends $small
  &,
  &.is-normal
    @extends $normal
  &.is-large
    @extends $large
  &.is-massive
    @extends $massive