/**
 * Device Breakpoint
 */
$mobile ?= 0
$tablet ?= 768px
$desktop ?= 991px
$widescreen ?= 1360px
$ultrawide ?= 1920px
/**
 * typography
 */
$margin ?= 10px
$padding ?= 0.5em
$paddingPx ?= 20px
$modalSpacing ?= unitRes(20, 60)
$borderRadius ?= 0
$border ?= unitRes(2, 4)
$fontTiny ?= 12px
$fontSmall ?= 14px
$font ?= 16px
$fontLarge ?= 24px
$fontMassive ?= 30px
$lineheight ?= 1.1875
$header1 ?= unitRes(40, 200)
$header2 ?= unitRes(30, 160)
$header3 ?= unitRes(24, 120)
$header4 ?= unitRes(20, 100)
$header5 ?= unitRes(18, 80)
$header6 ?= unitRes(14, 60)
$weightDefault ?= 500
$weightBold ?= 700
$weightSuper ?= 900
$sizing ?= {
  tiny: unitRes(12, 18),
  small: unitRes(14, 24),
  normal: unitRes(18, 32),
  large: unitRes(24, 42),
  massive: unitRes(32, 54)
}
/**
 * grid
 */
$columns ?= 12
$direction ?= ltr
$startDir ?= setDirection('start')
$endDir ?= setDirection('end')
$gutter ?= 1.5625vw
$gutterFull ?= 8vw
$container-mobile ?= calc(100% - 22px)
$container-tablet ?= $tablet - (22 * 2)
$container-desktop ?= $desktop - (22 * 3)
$container-widescreen ?= $widescreen - (22 * 4)
$container-ultrawide ?= $ultrawide - (22 * 5)
/**
 * Enable/Disable css variables
 */
$cssVar ?= false
$modifiers ?= 'block' 'tiny' 'small' 'normal' 'large' 'massive' 'rounded' 'black' 'inverse' 'disabled' 'primary' 'primary.is-inverse' 'secondary' 'secondary.is-inverse' 'info' 'info.is-inverse' 'success' 'success.is-inverse' 'warning' 'warning.is-inverse' 'danger' 'danger.is-inverse' 'white' 'white.is-inverse'
