/**
 * Device Breakpoint
 */
$mobile ?= 0
$tablet ?= 768px
$desktop ?= 991px
$widescreen ?= 1360px
$ultrawide ?= 1920px
/**
 * typography
 */
$margin ?= 10px
$padding ?= 0.5em
$paddingPx ?= 20px
$modalSpacing ?= unitRes(20, 60)
$borderRadius ?= 0
$border ?= unitRes(2, 4)
$font-tiny ?= 12px
$font-small ?= 14px
$font ?= 16px
$font-large ?= 24px
$font-massive ?= 30px
$lineheight ?= 1.1875
$header-1 ?= unitRes(40, 200)
$header-2 ?= unitRes(30, 160)
$header-3 ?= unitRes(24, 120)
$header-4 ?= unitRes(20, 100)
$header-5 ?= unitRes(18, 80)
$header-6 ?= unitRes(14, 60)
$weight-default ?= 500
$weight-bold ?= 700
$weight-super ?= 900

/**
 * elemets sizes
 */
$sizing-tiny ?= unitRes(12, 18)
$size-small ?= unitRes(14, 24)
$size-normal ?= unitRes(18, 32)
$size-large ?= unitRes(24, 42)
$size-massive ?= unitRes(32, 54)

/**
 * grid
 */
$columns ?= 12
$dir ?= ltr
$dir-start ?= setDirection('start')
$dir-end ?= setDirection('end')
$gutter = 1.5625vw
$gutter-full ?= 8vw
$container-mobile ?= calc(100% - 22px)
$container-tablet ?= $tablet - (22 * 2)
$container-desktop ?= $desktop - (22 * 3)
$container-widescreen ?= $widescreen - (22 * 4)
$container-ultrawide ?= $ultrawide - (22 * 5)
/**
 * Enable/Disable css variables
 */
$cssVar ?= false
$modifiers ?= 'block' 'tiny' 'small' 'normal' 'large' 'massive' 'rounded' 'black' 'inverse' 'disabled' 'primary' 'primary.is-inverse' 'secondary' 'secondary.is-inverse' 'info' 'info.is-inverse' 'success' 'success.is-inverse' 'warning' 'warning.is-inverse' 'danger' 'danger.is-inverse' 'white' 'white.is-inverse'
