.modal
  position: relative
  z-index: 999
  display: flex
  flex-direction: column
  justify-content: center
  align-items: stretch
  margin: $margin 0
  padding: $modalSpacing
  width: 100%
  border: 0
  border-radius: $borderRadius
  background-color: $clWhite
  @extend $normal

  p
    margin: 0

  &-header
    position: relative
    margin-bottom: $modalSpacing

  &-title
    margin: 0

  &-body
    display: flex
    position: relative
    overflow: auto
    padding: 0

  &-icon
    margin-{$endDir}: $modalSpacing

  &-footer
    display: flex
    flex-direction: row-reverse
    justify-content: space-between
    margin-top: $modalSpacing

    >*
      margin-bottom: 0

  &-dismiss
    position: absolute
    top: 0
    z-index: 9999
    padding: 0
    border: 0
    background-color: transparent
    {$endDir}: 0
    _icon-color: inherit

    &:hover
      _icon-color: $gray

  &, &.is-black
    border-color: $clBlack
    background-color: $clBlack
    color: $clWhite
    _icon-color: $clWhite

  &.is-inverse
    border: 2px solid $clBlack
    background-color: $clWhite
    color: $clBlack
    _icon-color: $clBlack

  &.is-blue
    background-color: $lightBlue
    color: $clSecondary
    _icon-color: $clSecondary

    &.is-inverse
      border-color: $clSecondary

  &.is-red
    background-color: $lightRed
    color: $red
    _icon-color: $red

    &.is-inverse
      border-color: $red

  &.is-success
    background-color: $lightGreen
    color: $clSuccess
    _icon-color: $clSuccess

    &.is-inverse
      border-color: $clSuccess

  &.is-inverse[class*='is-']
    background-color: $clWhite

  &.is-hidden
    display: none

  &.is-visable
    display: flex

  &-container
    position: fixed
    top: 0
    right: 0
    left: 0
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    height: 100vh
    background-color: $shadow

    &.is-hidden
      display: none

    &.is-visable
      display: flex
