.pagination
  display: flex
  justify-content: space-between
  margin: $margin 0

  &-item, &-next, &-prev
    position: relative
    display: inline-flex
    justify-content: center
    align-items: center
    padding: $padding
    outline-width: 2px
    outline-offset: 1px
    border: 2px solid $clBlack
    border-radius: $borderRadius
    color: $clBlack
    text-align: center
    text-decoration: none
    cursor: pointer
    _icon-color: $clBlack
    @extend $normal

    &.is-active, &:active, &:hover:not(.is-disabled)
      background-color: $clBlack
      color: $clWhite
      _icon-color: $clWhite

    &.is-disabled
      border-color: $gray
      color: $gray
      _icon-color: $gray

    &:focus
      outline-color: $clSecondary
