$modifiers = 'block' 'tiny' 'small' 'large' 'rounded' 'black' 'inverse' 'disabled' 'blue' 'blue.is-inverse' 'green' 'green.is-inverse' 'red' 'red.is-inverse' 'white' 'white.is-inverse'

.buttons
  display: flex
  flex-wrap: wrap
  align-items: center
  margin-bottom: $margin
  >.label
    z-index: 2
    margin: 0 -18.5px

  +mobile()
    flex-direction: column

  .button
    margin-bottom: 0
    &:not(:first-child):not(:last-child)
      border-width: 2px 0
      border-radius: 0

    &:first-child
      border-top-{$endDir}-radius: 0
      border-bottom-{$endDir}-radius: 0

    &:last-child
      border-top-{$startDir}-radius: 0
      border-bottom-{$startDir}-radius: 0

    +mobile()
      width: 100%

      &:not(:first-child):not(:last-child)
        border-width: 0 2px

      &:first-child
        border-radius: $borderRadius
        border-bottom-right-radius: 0
        border-bottom-left-radius: 0

      &:last-child
        border-radius: $borderRadius
        border-top-left-radius: 0
        border-top-right-radius: 0

  // generate all modifiers
  for modifier in $modifiers
    &.is-{modifier}
      >.button
        @extend .button.is-{modifier}

  &[disabled]
    >.button
      @extend .button.is-disabled
