.button
  position: relative
  display: inline-flex
  align-items: center
  justify-content: center
  margin-bottom: $margin
  padding: $padding multiple($padding, 1.5)
  outline-width: 0
  outline-offset: 0
  border-width: $border
  border-style: solid
  border-radius: $borderRadius
  background-clip: border-box
  vertical-align: top
  text-align: center
  text-decoration: none
  cursor: pointer
  _icon-color: $clWhite

  .icon
    font-size: 1em
    width: 1em
    height: 1em

    &:first-child:not(:last-child)
      margin-{$endDir}: multiple($padding, (1 / 2))

    &:last-child:not(:first-child)
      margin-{$startDir}: multiple($padding, (1 / 2))

    &:only-child
      margin: 0 multiple($padding, (-1 / 2))

  .label
    margin: multiple($padding, -1) 0

  &:hover
    text-decoration: none

  &:focus
    outline-color: $clSecondary

  /**
   * modiffers
   */
  generateSizes()

  &.is-block
    width: 100%

  &.is-rounded
    border-width: $border
    border-radius: 10em

  &, &.is-black
    _button-color: $clPrimary $clWhite

  &.is-inverse
    _button-color: $clPrimary $clWhite inverse

  &.is-white
    _button-color: $clWhite $clBlack

  &.is-white.is-inverse
    _button-color: $clWhite $clBlack inverse

  &.is-primary
    _button-color: $clPrimary $clWhite

  &.is-primary.is-inverse
    _button-color: $clPrimary $clWhite inverse

  &.is-secondary
    _button-color: $clSecondary $clWhite

  &.is-secondary.is-inverse
    _button-color: $clSecondary $clWhite inverse

  &.is-danger
    _button-color: $clDanger $clWhite

  &.is-danger.is-inverse
    _button-color: $clDanger $clWhite inverse

  &.is-success
    _button-color: $clSuccess $clWhite

  &.is-success.is-inverse
    _button-color: $clSuccess $clWhite inverse

  &.is-info
    _button-color: $clInfo $clWhite

  &.is-info.is-inverse
    _button-color: $clInfo $clWhite inverse

  &.is-info
    _button-color: $clInfo $clWhite

  &.is-info.is-inverse
    _button-color: $clInfo $clWhite inverse

  &.is-warning
    _button-color: $clWarning $clWhite

  &.is-warning.is-inverse
    _button-color: $clWarning $clWhite inverse

  &.is-disabled, &[disabled]
    opacity: 0.9
    cursor: not-allowed

  &.is-clean
    margin: 0
    border: 0
    background-color: transparent
    color: $clBlack
    _icon-color: $clBlack

  &.is-link
    padding-top: 0.3em
    padding-bottom: 0.3em
    padding-{$startDir}: 0
    padding-{$endDir}: 0.7em
    padding-left: 0
    border: 0
    background-color: transparent
    color: $clSecondary
    _icon-color: $clSecondary

    &:after
      position: absolute
      display: block
      content: ''
      width: 100%
      height: 0.15em
      background-color: $clSecondary
      bottom: 0
      left: 0
      right: 0

    &:hover:not(.is-disabled):not([disabled]), &:active:not(.is-disabled):not([disabled]), &.is-active:not(.is-disabled):not([disabled])
      color: $clSecondary

      &:after
        height: 0.25em
