.button
  position: relative
  display: inline-flex
  align-items: center
  justify-content: center
  margin-bottom: $margin
  padding: $padding multiple($padding, 1.5)
  outline-width: 0
  outline-offset: 0
  border-width: $border
  border-style: solid
  border-radius: $borderRadius
  background-clip: border-box
  vertical-align: top
  text-align: center
  text-decoration: none
  cursor: pointer
  _icon-color: $white

  .icon
    font-size: 1em
    width: 1em
    height: 1em

    &:first-child:not(:last-child)
      margin-{$dir-end}: multiple($padding, (1 / 2))

    &:last-child:not(:first-child)
      margin-{$dir-start}: multiple($padding, (1 / 2))

    &:only-child
      margin: 0 multiple($padding, (-1 / 2))

  .label
    margin: multiple($padding, -1) 0

  &:hover
    text-decoration: none

  &:focus
    outline-color: $secondary

  /**
   * modiffers
   */
  generateSizes()

  &.is-block
    width: 100%

  &.is-rounded
    border-width: $border
    border-radius: 10em

  &, &.is-black
    _button-color: $black $white

  &.is-inverse
    _button-color: $black $white inverse

  &.is-white
    _button-color: $white $black

  &.is-white.is-inverse
    _button-color: $white $black inverse

  &.is-primary
    _button-color: $primary $white

  &.is-primary.is-inverse
    _button-color: $primary $white inverse

  &.is-secondary
    _button-color: $secondary $white

  &.is-secondary.is-inverse
    _button-color: $secondary $white inverse

  &.is-danger
    _button-color: $danger $white

  &.is-danger.is-inverse
    _button-color: $danger $white inverse

  &.is-success
    _button-color: $success $white

  &.is-success.is-inverse
    _button-color: $success $white inverse

  &.is-info
    _button-color: $info $white

  &.is-info.is-inverse
    _button-color: $info $white inverse

  &.is-info
    _button-color: $info $white

  &.is-info.is-inverse
    _button-color: $info $white inverse

  &.is-warning
    _button-color: $warning $white

  &.is-warning.is-inverse
    _button-color: $warning $white inverse

  &.is-disabled, &[disabled]
    opacity: 0.9
    cursor: not-allowed

  &.is-clean
    margin: 0
    border: 0
    background-color: transparent
    color: $black
    _icon-color: $black

  &.is-link
    padding-top: 0.3em
    padding-bottom: 0.3em
    padding-{$dir-start}: 0
    padding-{$dir-end}: 0.7em
    padding-left: 0
    border: 0
    background-color: transparent
    color: $secondary
    _icon-color: $secondary

    &:after
      position: absolute
      display: block
      content: ''
      width: 100%
      height: 0.15em
      background-color: $secondary
      bottom: 0
      left: 0
      right: 0

    &:hover:not(.is-disabled):not([disabled]), &:active:not(.is-disabled):not([disabled]), &.is-active:not(.is-disabled):not([disabled])
      color: $secondary

      &:after
        height: 0.25em
