.checkbox
  margin: multiple($margin, (1 / 2)) 0

  &-label
    color: $black
    font-size: $font
    line-height: 24px
    vertical-align: middle

  &-input
    display: inline-flex
    justify-content: center
    align-items: center
    padding: 0
    width: 24px
    height: 24px
    outline-width: 2px
    outline-offset: 1px
    border: 2px solid $black
    border-radius: $borderRadius
    cursor: pointer
    margin-{$endDir}: 12px
    appearance: none
    -webkit-appearance: none
    -moz-appearance: none
    &:focus
      outline-color: $blue
    &:checked
      background-color: $black
      &:after
        opacity: 1

    &:after
      display: block
      opacity: 0
      width: 3px
      height: 7px
      border: solid $white
      border-width: 0 2px 2px 0
      content: ''
      transform:  translate3d(0, -1px, 0) rotate(45deg)
