$modifiers = 'tiny' 'small' 'large' 'rounded' 'black' 'inverse' 'disabled' 'blue' 'blue.is-inverse' 'green' 'green.is-inverse' 'red' 'red.is-inverse' 'white' 'white.is-inverse'

.form
  display: flex
  margin-bottom: $margin

  >*
    margin-bottom: 0
  &-label
    font-size: $fontLarge
    margin-bottom: $margin
    white-space: nowrap
    flex: 1
  &-addon
    display: inline-flex
    padding: $padding multiple($padding, 1.5)
    border: 2px solid $black
    border-radius: $borderRadius
    background-color: $black
    vertical-align: top
    text-align: center
    font-size: $font
    _icon-color: $white

    .icon:first-child:not(:last-child)
      margin-right: multiple($padding, (1 / 2))

    .icon:last-child:not(:first-child)
      margin-left: multiple($padding, (1 / 2))

    .icon:only-child
      margin: 0 multiple($padding, (-1 / 2))

    &.is-rounded
      border-radius: 10em
    &.is-black
      border-color: $black
      background-color: $black
      color: $black
      _icon-color: $black
    &.is-white
      border-color: $white
      background-color: $white
      color: $white
      _icon-color: $white
    &.is-blue
      background-color: $blue
      border-color: $blue
      color: $blue
      _icon-color: $blue
    &.is-green
      background-color: $green
      border-color: $green
      color: $green
      _icon-color: $green
    &.is-red
      background-color: $red
      border-color: $red
      color: $red
      _icon-color: $red
    &.is-inverse
      background-color: transparent
    &:not(.is-inverse):not(.is-clean),
    ~/:not(.is-inverse) >&:not(.is-clean)
      color: $white
      _icon-color: $white
    &.is-clean
      position: relative
      background-color: white
      _icon-color: $gray
      border-{$endDir}: 0
      margin-{$endDir}: -2px
    &.is-disabled
      opacity: 0.5
      cursor: not-allowed

    &.is-tiny
      font-size: $fontTiny
    &.is-small
      font-size: $fontSmall
    &.is-large
      font-size: $fontLarge
  &.has-label
    flex-wrap: wrap
  &.has-labelInline
    .form-label
      margin-bottom: 0
      margin-{endDir}: $margin
      line-height: 2.5em

  &.has-itemAfter
    .button
      border-top-{$startDir}-radius: 0
      border-bottom-{$startDir}-radius: 0

    .input
      border-top-{$endDir}-radius: 0
      border-bottom-{$endDir}-radius: 0

  &.has-itemBefore
    .form-addon
      border-top-{$endDir}-radius: 0
      border-bottom-{$endDir}-radius: 0

    .input
      border-top-{$startDir}-radius: 0
      border-bottom-{$startDir}-radius: 0
  // generate all modifiers
  for modifier in $modifiers
    &.is-{modifier}
      >.button
        @extends .button.is-{modifier}
      >.input
        @extends .input.is-{modifier} !optional
      >.form-addon
        @extends .form-addon.is-{modifier} !optional
