.icon
  display: inline
  vertical-align: middle
  line-height: inherit

  &.is-green
    _icon-color: $green

  &.is-blue
    _icon-color: $secondary

  &.is-red
    _icon-color: $red

  &.is-white
    _icon-color: $white

  &.is-black
    _icon-color: $black

  &.is-tiny
    width: $size-tiny
    height: $size-tiny

  &.is-small
    width: $size-small
    height: $size-small

  &, &.is-normal
    width: $size-normal
    height: $size-normal

  &.is-large
    width: $size-large
    height: $size-large

  &.is-massive
    width: $size-massive
    height: $size-massive
