.icon
  display: inline
  vertical-align: middle
  line-height: inherit

  &.is-green
    _icon-color: $green

  &.is-blue
    _icon-color: $secondary

  &.is-red
    _icon-color: $red

  &.is-white
    _icon-color: $white

  &.is-black
    _icon-color: $black

  &.is-tiny
    width: $sizing.tiny
    height: $sizing.tiny

  &.is-small
    width: $sizing.small
    height: $sizing.small

  &, &.is-normal
    width: $sizing.normal
    height: $sizing.normal

  &.is-large
    width: $sizing.large
    height: $sizing.large

  &.is-massive
    width: $sizing.massive
    height: $sizing.massive
