.icon
  display: inline
  vertical-align: middle
  line-height: inherit

  &.is-success
    _icon-color: $clSuccess

  &.is-secondary
    _icon-color: $clSecondary

  &.is-danger
    _icon-color: $clDanger

  &.is-white
    _icon-color: $clWhite

  &.is-black
    _icon-color: $clBlack

  &.is-tiny
    width: $size-tiny
    height: $size-tiny

  &.is-small
    width: $size-small
    height: $size-small

  &, &.is-normal
    width: $size-normal
    height: $size-normal

  &.is-large
    width: $size-large
    height: $size-large

  &.is-massive
    width: $size-massive
    height: $size-massive
