.input
  margin-bottom: $margin
  padding: $padding multiple($padding, 1.5)
  width: 100%
  border: $border solid $mainColor
  border-radius: $borderRadius
  -webkit-appearance: none
  -moz-appearance: none

  &-tag
    display: inline-flex
    padding: $padding multiple($padding, 1.5)
    border: $border solid $black
    border-radius: $borderRadius
    background-color: $black
    vertical-align: top
    text-align: center
    _icon-color: $white

    .icon:first-child:not(:last-child)
      margin-right: multiple($padding, (1 / 2))

    .icon:last-child:not(:first-child)
      margin-left: multiple($padding, (1 / 2))

    .icon:only-child
      margin: 0 multiple($padding, (-1 / 2))

    &.is-rounded
      border-radius: 10em
    &.is-black
      border-color: $black
      background-color: $black
      color: $black
      _icon-color: $black
    &.is-white
      border-color: $white
      background-color: $white
      color: $white
      _icon-color: $white
    &.is-blue
      background-color: $blue
      border-color: $blue
      color: $blue
      _icon-color: $blue
    &.is-green
      background-color: $green
      border-color: $green
      color: $green
      _icon-color: $green
    &.is-red
      background-color: $red
      border-color: $red
      color: $red
      _icon-color: $red
    &.is-inverse
      background-color: transparent
    &:not(.is-inverse):not(.is-clean),
    .inputGroup:not(.is-inverse) >&:not(.is-clean)
      color: $white
      _icon-color: $white
    &.is-clean
      position: relative
      background-color: white
      _icon-color: $gray
      border-{$endDir}: 0
      margin-{$endDir}: -2px
    &.is-disabled
      opacity: 0.5
      cursor: not-allowed
    generateSizes()

  /**
    * modiffers
    */
  
  generateSizes()

  &.is-block
    width: 100%

  &.is-rounded
    border-width: 2px
    border-radius: 10em

  &.is-black
    border-color: $black
  &.is-blue
    border-color: $blue
  &.is-green
    border-color: $green
  &.is-red
    border-color: $red
  &.is-white
    border-color: $white

  &.is-disabled,
  &[disabled]
    opacity: 0.5
    cursor: not-allowed

  &:focus
    outline: none
    border-color: $blue