$modifiers = 'tiny' 'small' 'normal' 'large' 'massive' 'rounded' 'black' 'inverse' 'disabled' 'blue' 'blue.is-inverse' 'green' 'green.is-inverse' 'red' 'red.is-inverse' 'white' 'white.is-inverse'

.inputGroup
  display: flex
  margin-bottom: $margin
  generateSizes()

  >*:not(.input-label)
    margin-bottom: 0

  &-label
    flex: 1
    margin-bottom: $padding
    margin-{$endDir}: $margin
    white-space: nowrap
    font-size: 1.7em

  &.has-label
    flex-wrap: wrap
  &.has-labelInline
    align-items: center

  &.has-itemAfter
    .button
      border-top-{$startDir}-radius: 0
      border-bottom-{$startDir}-radius: 0
      border-{$startDir}: 0

    .input
      border-top-{$endDir}-radius: 0
      border-bottom-{$endDir}-radius: 0

  &.has-itemBefore
    .input-tag
      border-top-{$endDir}-radius: 0
      border-bottom-{$endDir}-radius: 0
      border-{$endDir}: 0

    .input
      border-top-{$startDir}-radius: 0
      border-bottom-{$startDir}-radius: 0
  // generate all modifiers
  for modifier in $modifiers
    &.is-{modifier}
      >.button
        @extends .button.is-{modifier}
      >.input
        @extends .input.is-{modifier} !optional
      >.input-tag
        @extends .input-tag.is-{modifier} !optional