.label
  display: inline-flex
  justify-content: center
  align-items: center
  overflow: hidden
  margin: 0 2px
  margin-bottom: $margin
  padding: $padding
  min-width: 37px
  border-radius: $borderRadius
  background-color: $gray
  color: $black
  vertical-align: center
  line-height: 1
  _icon-color: $black
  @extend $small

  img
    margin: -0.75em
    height: 2.5em
    vertical-align: top
  .icon
    height: 14px
  .icon:first-child:not(:last-child),
  img:first-child:not(:last-child)
    margin-{$endDir}: multiple($padding, (1 / 2))

  .icon:last-child:not(:first-child),
  img:last-child:not(:first-child)
    margin-{$startDir}: multiple($padding, (1 / 2))

  &,
  &.is-black
    background-color: $black
    color: $white
    _icon-color: $white

  &.is-green
    background-color: $green
    color: $white
    _icon-color: $white

  &.is-red
    background-color: $red
    color: $white
    _icon-color: $white

  &.is-blue
    background-color: $blue
    color: $white
    _icon-color: $white

  &.is-white
    background-color: $white
    color: $black
    _icon-color: $black

  &.is-rounded
    border-radius: 10em

  &.is-float
    position: absolute
    top: 0
    margin: 0
    margin-top: multiple($padding, -2)
    {$endDir}: 0
    margin-{$endDir}: multiple($padding, -2)
