.label
  display: inline-flex
  justify-content: center
  align-items: center
  overflow: hidden
  margin: 0 2px
  margin-bottom: $margin
  padding: $padding
  min-width: 37px
  border-radius: $borderRadius
  color: $black
  vertical-align: top
  line-height: 1
  _icon-color: $black
  @extend $small

  img
    margin: -0.75em
    height: 2.5em
    vertical-align: top

  .icon
    height: 1em
    width: 1em

  .icon:first-child:not(:last-child), img:first-child:not(:last-child)
    margin-{$dir-end}: multiple($padding, (1 / 2))

  .icon:last-child:not(:first-child), img:last-child:not(:first-child)
    margin-{$dir-start}: multiple($padding, (1 / 2))

  generateSizes()

  &, &.is-black
    background-color: $black
    color: $white
    _icon-color: $white

  &.is-success
    background-color: $success
    color: $white
    _icon-color: $white

  &.is-danger
    background-color: $danger
    color: $white
    _icon-color: $white

  &.is-primary
    background-color: $primary
    color: $white
    _icon-color: $white

  &.is-secondary
    background-color: $secondary
    color: $white
    _icon-color: $white

  &.is-info
    background-color: $info
    color: $white
    _icon-color: $white

  &.is-warning
    background-color: $warning
    color: $white
    _icon-color: $white

  &.is-white
    background-color: $white
    color: $black
    _icon-color: $black

  &.is-rounded
    border-radius: 10em

  &.is-block
    display: flex

  &.is-float
    position: absolute
    top: 0
    margin: 0
    margin-top: multiple($padding, -2)
    {$dir-end}: 0
    margin-{$dir-end}: multiple($padding, -2)
