.label
  display: inline-flex
  justify-content: center
  align-items: center
  overflow: hidden
  margin: 0 2px
  margin-bottom: $margin
  padding: $padding
  min-width: 37px
  border-radius: $borderRadius
  color: $clBlack
  vertical-align: top
  line-height: 1
  _icon-color: $clBlack
  @extend $small

  img
    margin: -0.75em
    height: 2.5em
    vertical-align: top

  .icon
    height: 1em
    width: 1em

  .icon:first-child:not(:last-child), img:first-child:not(:last-child)
    margin-{$endDir}: multiple($padding, (1 / 2))

  .icon:last-child:not(:first-child), img:last-child:not(:first-child)
    margin-{$startDir}: multiple($padding, (1 / 2))

  generateSizes()

  &, &.is-black
    background-color: $clBlack
    color: $clWhite
    _icon-color: $clWhite

  &.is-success
    background-color: $clSuccess
    color: $clWhite
    _icon-color: $clWhite

  &.is-danger
    background-color: $clDanger
    color: $clWhite
    _icon-color: $clWhite

  &.is-primary
    background-color: $clPrimary
    color: $clWhite
    _icon-color: $clWhite

  &.is-secondary
    background-color: $clSecondary
    color: $clWhite
    _icon-color: $clWhite

  &.is-info
    background-color: $clInfo
    color: $clWhite
    _icon-color: $clWhite

  &.is-warning
    background-color: $clWarning
    color: $clWhite
    _icon-color: $clWhite

  &.is-white
    background-color: $clWhite
    color: $clBlack
    _icon-color: $clBlack

  &.is-rounded
    border-radius: 10em

  &.is-block
    display: flex

  &.is-float
    position: absolute
    top: 0
    margin: 0
    margin-top: multiple($padding, -2)
    {$endDir}: 0
    margin-{$endDir}: multiple($padding, -2)
