.radio
  @extend .checkbox

  &-input
    &:after
      width: 70%
      height: 70%
      background: $clBlack
      transform: none
      border: none

    &:checked
      background-color: $clWhite

  &.is-rounded
    .radio-input
      border-radius: 10em

      &:after
        border-radius: 10em