.select
  position: relative
  margin-bottom: $margin
  margin-bottom: 0
  padding: $padding multiple($padding, 1.5)
  max-width: 100%
  width: 100%
  outline: 0
  border: $border solid $clBlack
  border-radius: $borderRadius
  background-color: $clWhite
  background-image: linear-gradient(45deg, transparent 50%, $clBlack 50%), linear-gradient(135deg, $clBlack 50%, transparent 50%)
  background-position: calc(100% - 0.8em) calc(50% + 0.1em), calc(100% - 0.4em) calc(50% + 0.1em)
  background-size: 0.4em 0.4em, 0.4em 0.4em
  background-repeat: no-repeat
  text-align: left
  -webkit-appearance: none
  -moz-appearance: none

  generateSizes()

  &-searchInput
    margin-bottom: $margin
    margin-bottom: 0
    padding: $padding multiple($padding, 1.5)
    width: 100%
    outline: 0
    border: $border solid $clBlack
    border-radius: $borderRadius
    text-align: left
    -webkit-appearance: none
    -moz-appearance: none

  &-input
    background-color: transparent
    font-size: inherit
    width: 100%
    padding: 0
    height: 100%
    border: 0
    text-align: left
    &:focus
      outline: 0

    &:disabled,
    &.is-disabled
      background: $clWhite
      opacity: 0.7
      cursor: not-allowed

  &.is-black
    border-color: $clBlack
    background-image: linear-gradient(45deg, transparent 50%, $clBlack 50%), linear-gradient(135deg, $clBlack 50%, transparent 50%)
    color: $clBlack

  &.is-white
    border-color: $clWhite
    background-image: linear-gradient(45deg, transparent 50%, $clBlack 50%), linear-gradient(135deg, $clBlack 50%, transparent 50%)
    color: $clBlack

  &.is-primary
    border-color: $clPrimary
    background-image: linear-gradient(45deg, transparent 50%, $clPrimary 50%), linear-gradient(135deg, $clPrimary 50%, transparent 50%)
    color: $clPrimary

  &.is-danger
    border-color: $clDanger
    background-image: linear-gradient(45deg, transparent 50%, $clDanger 50%), linear-gradient(135deg, $clDanger 50%, transparent 50%)
    color: $clDanger

  &.is-success
    border-color: $clSuccess
    background-image: linear-gradient(45deg, transparent 50%, $clSuccess 50%), linear-gradient(135deg, $clSuccess 50%, transparent 50%)
    color: $clSuccess

  &.is-info
    border-color: $clInfo
    background-image: linear-gradient(45deg, transparent 50%, $clInfo 50%), linear-gradient(135deg, $clInfo 50%, transparent 50%)
    color: $clInfo

  &.is-warning
    border-color: $clWarning
    background-image: linear-gradient(45deg, transparent 50%, $clWarning 50%), linear-gradient(135deg, $clWarning 50%, transparent 50%)
    color: $clWarning

  &.is-secondary
    border-color: $clSecondary
    background-image: linear-gradient(45deg, transparent 50%, $clSecondary 50%), linear-gradient(135deg, $clSecondary 50%, transparent 50%)
    color: $clSecondary

  &.is-rounded
    .select-input
      border-radius: 10em

  &:disabled,
  &.is-disabled
    opacity: 0.7
    cursor: not-allowed

  &.is-disabled
    opacity: 0.7
    pointer-events: none

  &-label
    display: inline-flex
    justify-content: center
    align-items: center
    overflow: hidden
    font-size: inherit
    padding: 0.15em
    margin: 0 2px
    margin-bottom: 4px
    border-radius: $borderRadius
    background-color: $clBlack
    color: $clWhite
    vertical-align: center
    line-height: 1
    _icon-color: $clBlack

    @extends $small

  &-searchInput
    @extends $tiny

  &-search
    padding: 10px
    width: 100%

  &-menu
    position: absolute
    top: 100%
    right: 0
    left: 0
    margin: 0 unitRes(-2, -4)
    z-index: 999
    border-width: 0 $border $border $border
    border-style: solid
    border-color: inherit
    border-radius: 0 0 $borderRadius $borderRadius
    background: $clWhite
    font-size: inherit

  &-list
    overflow: auto
    margin: 0
    padding: 0
    max-height: 40vh
    list-style: none

  &-labels
    display: inline-flex
    flex-wrap: wrap
    margin: 0 0.5em -0.3em -0.2em
    padding: 0

  &-item
    padding: 0
    width: 100%

    @extends $small

    &.is-selected
      background-color: $clBlack
      color: $clWhite

    &:not(.is-group)
      padding: $padding

      &:hover
        background-color: $clBlack
        color: $clWhite
        cursor: pointer

  &-childMenu
    margin: 0
    padding: 0
    list-style: none

  &-childTitle
    display: block
    padding: $padding
    color: $gray

  &-childItem
    padding: $padding $padding $padding multiple($padding, 2)
    color: $clBlack
    cursor: pointer

    &.is-selected
      background-color: $clBlack
      color: $clWhite

    &:hover
      background-color: $clBlack
      color: $clWhite

  .is-visible
    display: block

  .is-hidden
    display: none