.select
  position: relative
  width: 300px

  &-label
    display: inline-flex
    justify-content: center
    align-items: center
    overflow: hidden
    margin: 0 2px
    margin-bottom: 4px
    padding: $padding
    min-width: 37px
    border-radius: $borderRadius
    background-color: $black
    color: $white
    vertical-align: center
    line-height: 1
    _icon-color: $black
    @extend $small

  &-input,
  &-searchInput
    margin-bottom: $margin
    padding: $padding multiple($padding, 1.5)
    width: 100%
    border: $border solid $mainColor
    border-radius: $borderRadius
    -webkit-appearance: none
    -moz-appearance: none
    margin-bottom: 0
    min-height: 47px
    text-align: left

  &-searchInput
    @extends $tiny

  &-input  
    @extends $normal
    &:after
      position: absolute
      top: 10px
      right: 5px
      display: block
      margin: 7px
      width: 0
      height: 0
      border-width: 4px 4px 0 4px
      border-style: solid
      border-color: $black transparent transparent transparent
      content: ''
      transition: 0.5s

    &.is-active
      border-radius: $borderRadius $borderRadius 0 0

      :after
        border-width: 0 4px 4px 4px
        border-color: transparent transparent $black transparent

  &-search
    padding: 10px
    width: 100%
  

  &-menu
    position: absolute
    z-index: 999
    width: 100%
    border-width: 0 2px 2px 2px
    border-style: solid
    border-color: $black
    border-radius: 0 0 $borderRadius $borderRadius
    background: $white
    font-size: $fontSmall

  &-list
    overflow: auto
    margin: 0
    padding: 0
    max-height: 40vh
    list-style: none

  &-labels
    display: inline-flex
    flex-wrap: wrap
    margin: 0 0.5em -0.3em -0.2em
    padding: 0

  &-item
    padding: 0
    width: 100%
    @extend $small

    &.is-selected
      background-color: $black
      color: $white

    &:not(.is-group)
      padding: $padding

      &:hover
        background-color: $black
        color: $white
        cursor: pointer

  &-childMenu
    margin: 0
    padding: 0
    list-style: none

  &-childTitle
    display: block
    padding: $padding
    color: $gray

  &-childItem
    padding: $padding $padding $padding multiple($padding, 2)
    color: $black
    cursor: pointer

    &.is-selected
      background-color: $black
      color: $white

    &:hover
      background-color: $black
      color: $white

  .is-visible
    display: block

  .is-hidden
    display: none