.textarea
  display: block
  margin-bottom: $margin
  padding: $padding
  width: 100%
  border: $border solid $mainColor
  border-radius: $borderRadius
  color: $mainColor
  text-align: $startDir
  line-height: 1.2
  resize: none

  &:focus
    outline: 0
    border-color: $blue

  /**
    * modiffers
    */
  generateSizes()

  &.is-black
    border-color: $black
  &.is-blue
    border-color: $blue
  &.is-green
    border-color: $green
  &.is-red
    border-color: $red
  &.is-white
    border-color: $white

  &.is-disabled,
  &[disabled]
    opacity: 0.5
    cursor: not-allowed

  &:focus
    outline: none
    border-color: $blue