[tooltip]
  position: relative

  &:focus
    outline: none

  &:hover
    &:before, &:after
      visibility: visible
      opacity: 1

  &:before
    position: absolute
    top: -13px
    left: 50%
    z-index: 99999
    display: block
    visibility: hidden
    width: 0
    height: 0
    border-width: 7px 7px 0 7px
    border-style: solid
    border-color: $black transparent transparent transparent
    content: ''
    opacity: 0
    transition: 0.4s
    transform: translate(-50%, 0)
    user-select: none

  &:after
    position: absolute
    top: -64px
    left: 50%
    z-index: 99999
    display: block
    visibility: hidden
    padding: $padding
    border-radius: $borderRadius
    background-color: $black
    color: $white
    content: attr(tooltip)
    white-space: nowrap
    opacity: 0
    transition: 0.4s
    transform: translate(-50%, 0)
    user-select: none
    @extend $small

[tooltip-position='bottom']
  &:before
    top: auto
    top: initial
    bottom: -13px
    border-width: 0 7px 7px 7px
    border-color: transparent transparent $black transparent

  &:after
    top: auto
    top: initial
    bottom: -64px

[tooltip-rounded]
  &:after
    border-radius: 10em

[tooltip-position='left']
  &:before
    top: 50%
    left: -13px
    border-width: 7px 0 7px 7px
    border-color: transparent transparent transparent $black
    transform: translate(0, -50%)

  &:after
    top: 50%
    left: -12px
    transform: translate(-100%, -50%)

[tooltip-position='right']
  &:before
    top: 50%
    right: -13px
    left: auto
    left: initial
    border-width: 7px 7px 7px 0
    border-color: transparent $black transparent transparent
    transform: translate(0, -50%)

  &:after
    top: 50%
    right: -12px
    left: auto
    left: initial
    transform: translate(100%, -50%)

[tooltip-color='primary']
  &:after
    background: $primary

  &:before
    border-color: $primary transparent transparent transparent

  &[tooltip-position='bottom']
    &:before
      border-color: transparent transparent $primary transparent

  &[tooltip-position='left']
    &:before
      border-color: transparent transparent transparent $primary

  &[tooltip-position='right']
    &:before
      border-color: transparent $primary transparent transparent

[tooltip-color='secondary']
  &:after
    background: $secondary

  &:before
    border-color: $secondary transparent transparent transparent

  &[tooltip-position='bottom']
    &:before
      border-color: transparent transparent $secondary transparent

  &[tooltip-position='left']
    &:before
      border-color: transparent transparent transparent $secondary

  &[tooltip-position='right']
    &:before
      border-color: transparent $secondary transparent transparent

[tooltip-color='info']
  &:after
    background: $info

  &:before
    border-color: $info transparent transparent transparent

  &[tooltip-position='bottom']
    &:before
      border-color: transparent transparent $info transparent

  &[tooltip-position='left']
    &:before
      border-color: transparent transparent transparent $info

  &[tooltip-position='right']
    &:before
      border-color: transparent $info transparent transparent

[tooltip-color='success']
  &:after
    background: $success

  &:before
    border-color: $success transparent transparent transparent

  &[tooltip-position='bottom']
    &:before
      border-color: transparent transparent $success transparent

  &[tooltip-position='left']
    &:before
      border-color: transparent transparent transparent $success

  &[tooltip-position='right']
    &:before
      border-color: transparent $success transparent transparent

[tooltip-color='warning']
  &:after
    background: $warning

  &:before
    border-color: $warning transparent transparent transparent

  &[tooltip-position='bottom']
    &:before
      border-color: transparent transparent $warning transparent

  &[tooltip-position='left']
    &:before
      border-color: transparent transparent transparent $warning

  &[tooltip-position='right']
    &:before
      border-color: transparent $warning transparent transparent

[tooltip-color='danger']
  &:after
    background: $danger

  &:before
    border-color: $danger transparent transparent transparent

  &[tooltip-position='bottom']
    &:before
      border-color: transparent transparent $danger transparent

  &[tooltip-position='left']
    &:before
      border-color: transparent transparent transparent $danger

  &[tooltip-position='right']
    &:before
      border-color: transparent $danger transparent transparent

[tooltip-color='white']
  &:after
    background: $white
    color: $black

  &:before
    border-color: $white transparent transparent transparent

  &[tooltip-position='bottom']
    &:before
      border-color: transparent transparent $white transparent

  &[tooltip-position='left']
    &:before
      border-color: transparent transparent transparent $white

  &[tooltip-position='right']
    &:before
      border-color: transparent $white transparent transparent