@font-face
    font-weight: 700
    font-family: "Poppins"
    src: url('/dist/font/Poppins-Bold.ttf')

@font-face
    font-weight: 600
    font-family: "Poppins"
    src: url('/dist/font/Poppins-SemiBold.ttf')

@font-face
    font-weight: 500
    font-family: "Poppins"
    src: url('/dist/font/Poppins-Medium.ttf')
    
@font-face
    font-weight: 400
    font-family: "Poppins"
    src: url('/dist/font/Poppins-Regular.tt'f)

@font-face
    font-weight: 300
    font-family: "Poppins"
    src: url('/dist/font/Poppins-Light.ttf')

html
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'