$headers = $header1 $header2 $header3 $header4 $header5 $header6

for $header, $n in $headers
  h{$n + 1}, .h{$n + 1}
    font-size: $header

h1, h2, h3, h4, h5, h6
  margin: 0
  line-height: $lineheight
  font-weight: $weightSuper

p, body
  @extend $normal
  margin: 0