@import '../../../node_modules/@baianat/base.framework/src/stylus/components/navbar'
@import '../../../node_modules/@baianat/base.framework/src/stylus/components/dropdown'

.navbar
  .icon
    width: $sizing.normal
    height: $sizing.normal

@import 'submenu'

